body {
  font-family: "Questrial", sans-serif;
  background-color: #f7fef9;
  margin: 0%;
  padding: 2em;
}

.nav-container,
.contact-heading,
.contact-form,
.footer-address,
.footer-socials,
.footer-links {
  border-radius: 20px;
}


/*Navigation*/
.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #e9f4ec;
  padding: 2em;
  margin-bottom: 2em;
}

.nav-content ul {
  list-style: none;
  display: flex;
  gap: 2em;
  margin: 0%;
  padding: 0%;
}

.nav-content ul li a {
  color: #0027f4;
  font-size: 1.5rem;
  text-decoration: none;
}

#divide {
  display: none;
}

/*contact*/


.contact-form {
  background-color: #e9f4ec;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.contact-form form {
  padding: 60px;
}

.contact-heading h1,
h3 {
  color: white;
}

.contact-heading h1 {
  font-size: 4rem;
  font-weight: 200;
}

.contact-heading {
  background-color: #0027f4;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-heading h3 {
  font-size: 1.4rem;
  font-weight: 200;
}

.contact-heading div {
  display: flex;
  flex-direction: column;
}

.contact-form form label {
  font-size: 1.5rem;
  color: #0027f4;
  /*
    margin-top: 10px;*/
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: none;
}

.submit-btn {
  padding: 15px 25px;
  background-color: #0027f4;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
}

.submit-btn a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.submit-btn:hover {
  opacity: 0.8;
}

/*footer*/
.footer-content {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100%;
  margin-top: 1.55em;
}

.footer-address {
  padding: 3em;
  background-color: #0027f4;
  width: 45%;
}

.footer-links {
  background-color: #0027f4;
  width: 20%;
  padding: 3em;
}

.footer-socials {
  background-color: #0027f4;
  width: 20%;
  padding: 3em;
}

.footer-content div ul {
  list-style: none;
  padding: 0%;
}

.footer-links ul li a,
.footer-socials ul li a {
  text-decoration: none;
  color: #e9f4ec;
  font-size: 1.4rem;
}

.footer-address ul li {
  font-size: 1.4rem;
  color: #e9f4ec;
}

.footer-links ul li:nth-child(4) {
  margin-top: 5em;
  color: #e9f4ec;
}

/*MEDIA*/
@media (max-width: 768px) {

  body {
    padding: 0em;
  }

  .nav-container,
  .contact-heading,
  .contact-form,
  .footer-address,
  .footer-socials,
  .footer-links {
    border-radius: 2em 0em 0em 2em;
  }


  /*Navigation*/
  .nav-container {
    flex-direction: column;
    gap: 1.1em;
  }

  .nav-content ul {
    flex-direction: column;
    gap: .5em;
  }

  .nav-content:nth-of-type(2) {
    text-align: end;
  }

  .nav-content ul li a {
    font-size: 1.2rem;
  }

  #divide {
    display: block;
    height: .1em;
    border: none;
    background-color: #0027f4;
    width: 100%;
  }


  /*Contact*/
  .contact-form {
    padding: 2em 1em 1em 1em;
    width: auto;
  }

  .contact-heading h1 {
    font-size: 2rem;
  }

  .contact-heading h3 {
    font-size: 1rem;
  }

  .contact-heading iframe {
    width: 100%;
  }

  .contact-form form label {
    font-size: 1.2rem;
  }

  .contact-form form input,
  .contact-form form textarea {
    width: 90%;
    margin-bottom: 2em;
  }

  .submit-btn {
    padding: 1em 2em;
    border-radius: 3em;
  }

  .submit-btn a {
    font-size: 1rem;
  }


  /*Footer*/
  .footer-content {
    flex-direction: column;
    width: 100%;
    gap: .5em;
    margin-top: 2em;
  }

  .footer-address {
    padding: 1em;
    width: auto;
  }

  .footer-links {
    width: auto;
    padding: 1em;
  }

  .footer-socials {
    width: auto;
    padding: 1em;
  }

  .footer-address ul li,
  .footer-links ul li a,
  .footer-socials ul li a {
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width:1024px) {

  body {
    padding: 1em;
  }

  .contact-form {
    width: 100%;
  }


  /*Footer*/
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
  }

  .footer-address {
    padding: 1em;
  }

  .footer-links {
    padding: 1em;
  }

  .footer-socials {
    padding: 1em;
  }

  .footer-address ul li,
  .footer-links ul li a,
  .footer-socials ul li a {
    font-size: 1.2rem;
  }

}