body {
  font-family: "Questrial", sans-serif;
  background-color: #f7fef9;
  margin: 0%;
  padding: 2em;
}

.nav-container,
.repair-form,
.repair-video video,
.footer-address,
.footer-socials,
.footer-links {
  border-radius: 2em;
}


/*Navigation*/
.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #e9f4ec;
  padding: 2em;
  margin-bottom: 2em;
}

.nav-content ul {
  list-style: none;
  display: flex;
  gap: 2em;
  margin: 0%;
  padding: 0%;
}

.nav-content ul li a {
  color: #0027f4;
  font-size: 1.5rem;
  text-decoration: none;
}

#divide {
  display: none;
}


/*Repair*/
.repair-content {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
}

.repair-video video {
  width: 100%;
  object-fit: cover;
}

.repair-form {
  background-color: #e9f4ec;
  padding: 60px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.repair-heading {
  text-align: center;
  margin-bottom: 100px;
}

.repair-heading h1,
h3 {
  color: rgb(0, 0, 0);
}

.repair-heading h1 {
  font-size: 4rem;
  font-weight: 200;
}

.repair-heading h3 {
  font-size: 1.4rem;
  font-weight: 200;
}

.repair-form form label {
  font-size: 1.5rem;
  color: #0027f4;
}

.repair-form form input,
#device,
.repair-form form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: none;
}

#device {
  background-color: #0027f4;
  color: white;
  font-size: 1rem;
  border: none;
}

.submit-btn {
  padding: 15px 25px;
  background-color: #0027f4;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: 0.5s;
}

.submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}


/*footer*/
.footer-content {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100%;
  margin-top: 1.55em;
}

.footer-address {
  padding: 3em;
  background-color: #0027f4;
  width: 45%;
}

.footer-links {
  background-color: #0027f4;
  width: 20%;
  padding: 3em;
}

.footer-socials {
  background-color: #0027f4;
  width: 20%;
  padding: 3em;
}

.footer-content div ul {
  list-style: none;
  padding: 0%;
}

.footer-links ul li a,
.footer-socials ul li a {
  text-decoration: none;
  color: #e9f4ec;
  font-size: 1.4rem;
}

.footer-address ul li {
  font-size: 1.4rem;
  color: #e9f4ec;
}

.footer-links ul li:nth-child(4) {
  margin-top: 5em;
  color: #e9f4ec;
}



/*MEDIA*/
@media (max-width: 768px) {

  body {
    padding: 0em;
  }

  .nav-container,
  .repair-form,
  .footer-address,
  .footer-socials,
  .footer-links {
    border-radius: 2em 0em 0em 2em;
  }


  /*Navigation*/
  .nav-container {
    flex-direction: column;
    gap: 1.1em;
  }

  .nav-content ul {
    flex-direction: column;
    gap: .5em;
  }

  .nav-content:nth-of-type(2) {
    text-align: end;
  }

  .nav-content ul li a {
    font-size: 1.2rem;
  }

  #divide {
    display: block;
    height: .1em;
    border: none;
    background-color: #0027f4;
    width: 100%;
  }


  /*Repair*/
  .repair-heading {
    padding: 0em 1em 0em 1em;
  }

  .repair-video video {
    display: none;
  }

  .repair-content {
    gap: 0em;
  }

  .repair-form {
    padding: 1.5em 1em 1em 1em;
  }

  .repair-form form label {
    font-size: 1.2rem;
  }

  .repair-form form input,
  #device,
  .repair-form form textarea {
    width: 90%;
    margin-bottom: 2em;
  }

  .submit-btn {
    padding: 1em 2em;
    border-radius: 3em;
    transition: none;
  }

  .submit-btn:hover {
    border-radius: 50px;
  }


  /*Footer*/
  .footer-content {
    flex-direction: column;
    width: 100%;
    gap: .5em;
    margin-top: 2em;
  }

  .footer-address {
    padding: 1em;
    width: auto;
  }

  .footer-links {
    width: auto;
    padding: 1em;
  }

  .footer-socials {
    width: auto;
    padding: 1em;
  }

  .footer-address ul li,
  .footer-links ul li a,
  .footer-socials ul li a {
    font-size: 1rem;
  }

}

@media (min-width: 769px) and (max-width:1024px) {

  body {
    padding: 1em;
  }


  /*Repair*/
  .repair-video video {
    display: none;
  }

  .repair-content {
    gap: 0em;
  }


  /*Footer*/
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
  }

  .footer-address {
    padding: 1em;
  }

  .footer-links {
    padding: 1em;
  }

  .footer-socials {
    padding: 1em;
  }

  .footer-address ul li,
  .footer-links ul li a,
  .footer-socials ul li a {
    font-size: 1.2rem;
  }
}