body {
  font-family: "Questrial", sans-serif;
  background-color: #f7fef9;
  margin: 0%;
  padding: 2em;
}

.hero-background,
.nav-container,
#about-us-heading,
#about-us-info,
.testimonial-item,
.stats,
#testimonial-heading,
.contact-info,
.contact-form,
.contact-heading iframe,
.footer-address,
.footer-socials,
.footer-links {
  border-radius: 2em;
}

/*Navigation*/
.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #e9f4ec;
  padding: 2em;
  margin-bottom: 2em;
}

.nav-content ul {
  list-style: none;
  display: flex;
  gap: 2em;
  margin: 0%;
  padding: 0%;
}

.nav-content ul li a {
  color: #0027f4;
  font-size: 1.5rem;
  text-decoration: none;
}

#divide {
  display: none;
}

/*Landing-page(hero)*/
.hero {
  width: 100%;
}

.hero-background {
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: hue-rotate(90deg);
}

.hero-info {
  background-color: rgba(255, 255, 255, 0.5);
  top: 30%;
  left: 10%;
  position: absolute;
  padding: 2em;
  border-radius: 1.5em;
  width: 45%;
}

.hero-info h1 {
  font-size: 5.2rem;
  color: white;
  font-weight: 200;
}

.hero-info p {
  font-size: 1.3rem;
  color: white;
}

.hero-info a {
  text-decoration: none;
  color: #0027f4;
  font-size: 1rem;
}

.hero-info button {
  padding: 15px 25px;
  border: 1.4px solid #0027f4;
  background-color: white;
  border-radius: 50px;
}

.hero-info button:hover a {
  color: white;
}

.hero-info button:hover {
  background-color: #0027f4;
  transition: 0.7s;
  border: 1.4px solid white;
}

/*About us*/
.about-us {
  width: 100%;
  margin: 5em 0em 5em 0em;
}

#about-us-heading {
  background-color: #0027f4;
  padding: 3em;
  margin-top: 3em;
}

#about-us-heading h1 {
  margin: 0;
  color: white;
  font-size: 4rem;
  font-weight: 200;
}

#about-us-info {
  background-color: #e9f4ec;
  padding: 3.5em;
  margin-top: 2em;
}

#about-us-info h5 {
  font-size: 1.4rem;
  margin: 0;
}

#about-us-info p {
  font-size: 2rem;
}

#about-us-info h5,
p {
  color: #0027f4;
}

/*Products*/
.products {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-heading h1 {
  font-size: 4rem;
  text-align: center;
}

.product-card-container {
  display: flex;
  align-items: center;/*
  justify-content: center;*/
  gap: 2em;
  overflow: hidden;
}

.product-card:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

}

.product-card {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
}

.product-card a {
  text-decoration: none;
  color: #0027f4;
}

.product-card a img {
  width: 300px;
  border-radius: 20px;
}

.product-card-container button {
  padding: 10px;
  background-color: #0027f4;
  border: none;
  border-radius: 10px;
}

.shop-btn {
  padding: 15px 25px;
  border: 1.4px solid #0027f4;
  background-color: white;
  border-radius: 50px;
  margin-top: 20px;
}

.shop-btn a {
  text-decoration: none;
  color: #0027f4;
  font-size: 1rem;
}


/*Testimonials*/
.testimonial {
  width: 100%;
}

#testimonial-heading {
  background-color: #0027f4;
  padding: 3em;
  margin-bottom: 2em;
}

#testimonial-heading h1 {
  margin: 0;
  color: white;
  font-size: 4rem;
  font-weight: 200;
}

.testimonial-name,
.score,
.comment {
  color: #000000;
}

.testimonial-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
  justify-content: space-between;
}

.testimonial-item {
  background-color: #e9f4ec;
  padding: 1.5em;
  margin-top: 2em;
  width: 28%;
}

/*contact*/
.contact-container {
  display: flex;
  gap: 2em;
  width: 100%;
  margin-top: 5em;
}

.contact-info {
  background-color: #0027f4;
  padding: 6em;
  width: 45%;
}

.contact-form {
  background-color: #e9f4ec;
  padding: 6em;
  width: 45%;
}

.contact-heading h1,
h3 {
  color: white;
}

.contact-heading h1 {
  font-size: 4rem;
  font-weight: 200;
}

.contact-heading h3 {
  font-size: 1.4rem;
  font-weight: 200;
}

.contact-heading {
  display: flex;
  flex-direction: column;
}

.contact-form form label {
  font-size: 1.5rem;
  color: #0027f4;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 5em;
  border-radius: 1em;
  border: none;
}

.submit-btn {
  padding: 1.5em 2.5em;
  background-color: #0027f4;
  border: none;
  border-radius: 5em;
  margin-top: 2em;
}

.submit-btn a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.submit-btn:hover {
  opacity: 0.8;
}

/*footer*/
.footer-content {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100%;
  margin-top: 1.55em;
}

.footer-address {
  padding: 3em;
  background-color: #0027f4;
  width: 45%;
}

.footer-links {
  background-color: #0027f4;
  width: 20%;
  padding: 3em;
}

.footer-socials {
  background-color: #0027f4;
  width: 20%;
  padding: 3em;
}

.footer-content div ul {
  list-style: none;
  padding: 0%;
}

.footer-links ul li a,
.footer-socials ul li a {
  text-decoration: none;
  color: #e9f4ec;
  font-size: 1.4rem;
}

.footer-address ul li {
  font-size: 1.4rem;
  color: #e9f4ec;
}

.footer-links ul li:nth-child(4) {
  margin-top: 5em;
  color: #e9f4ec;
}


/*MEDIA*/
@media (max-width: 768px) {

  body {
    padding: 0em;
  }

  .nav-container,
  #about-us-heading,
  #about-us-info,
  #testimonial-heading,
  .testimonial-item,
  .contact-info,
  .contact-form,
  .footer-address,
  .footer-socials,
  .footer-links {
    border-radius: 2em 0em 0em 2em;
  }


  /*Navigation*/
  .nav-container {
    flex-direction: column;
    gap: 1.1em;
    margin-bottom: 2em;
  }

  .nav-content ul {
    flex-direction: column;
    gap: .5em;
  }

  .nav-content:nth-of-type(2) {
    text-align: end;
  }

  .nav-content ul li a {
    font-size: 1.2rem;
  }

  #divide {
    display: block;
    height: .1em;
    border: none;
    background-color: #0027f4;
    width: 100%;
  }


  /*Hero page*/
  .hero {
    width: auto;
  }

  .hero-background {
    height: 95vh;
  }

  .hero-info h1 {
    font-size: 2rem;
  }

  .hero-info p {
    font-size: 1rem;
  }

  .hero-info {
    background-color: rgba(255, 255, 255, 0.5);
    top: 80%;
    left: 6%;
    padding: 1em;
    width: 80%;
  }

  .hero-info a {
    font-size: 1rem;
  }

  .hero-info button {
    padding: 1em 2em;
    border-radius: 3em;
  }

  .hero-info button:hover a {
    color: #0027f4;
  }

  .hero-info button:hover {
    background-color: white;
    transition: none;
    border: 1.4px solid #0027f4;
  }


  /*About us*/
  .about-us {
    width: auto;
    margin: 0em 0em 3em 0em;
  }

  #about-us-heading {
    padding: 1.5em;
  }

  #about-us-heading h1 {
    font-size: 2.3rem;
  }

  #about-us-info {
    padding: 2em 1em 1em 1em;
    margin-top: 1em;
  }

  #about-us-info h5 {
    font-size: 1.2rem;
  }

  #about-us-info p {
    font-size: 1.6rem;
  }


  /*Products*/
  .products {
    margin-bottom: 4em;
  }

  .product-heading h1 {
    font-size: 2.3rem;
  }

  .product-card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .product-card {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 1.5em;
    border-radius: 0px;
  }

  .product-card a img {
    width: 95%;
  }

  .product-card:hover {
    transform: none;
    transition: none;
  }

  .arrow {
    display: none;
  }

  .shop-btn {
    padding: 1em 2em;
    border-radius: 3em;
    margin-top: 1.5em;
    margin-left: 1em;
  }

  .shop-btn a {
    font-size: 1rem;
  }


  /*Testimonials*/
  .testimonial {
    width: auto;
  }

  #testimonial-heading {
    padding: 1.5em;
    margin-bottom: .5em;
  }

  #testimonial-heading h1 {
    font-size: 2.3rem;
  }

  .testimonial-container {
    flex-direction: column;
    margin-top: 0em;
  }

  .testimonial-item {
    padding: 1em;
    margin-top: .5em;
    width: auto;
  }


  /*Contact*/
  .contact-container {
    flex-direction: column;
    margin-top: 2em;
    gap: .5em;
  }

  .contact-info {
    padding: 1em;
    width: auto;
  }

  .contact-form {
    padding: 2em 1em 1em 1em;
    width: auto;
  }

  .contact-heading h1 {
    font-size: 2rem;
  }

  .contact-heading h3 {
    font-size: 1rem;
  }

  .contact-heading iframe {
    width: 100%;
  }

  .contact-form form label {
    font-size: 1.2rem;
  }

  .contact-form form input,
  .contact-form form textarea {
    width: 90%;
    margin-bottom: 2em;
  }

  .submit-btn {
    padding: 1em 2em;
    border-radius: 3em;
  }

  .submit-btn a {
    font-size: 1rem;
  }


  /*Footer*/
  .footer-content {
    flex-direction: column;
    width: 100%;
    gap: .5em;
    margin-top: 2em;
  }

  .footer-address {
    padding: 1em;
    width: auto;
  }

  .footer-links {
    width: auto;
    padding: 1em;
  }

  .footer-socials {
    width: auto;
    padding: 1em;
  }

  .footer-address ul li,
  .footer-links ul li a,
  .footer-socials ul li a {
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width:1024px) {

  body {
    padding: 1em;
  }


  /*Hero page*/
  .hero {
    width: auto;
  }

  .hero-background {
    height: 65vh;
  }

  .hero-info h1 {
    font-size: 2rem;
  }

  .hero-info p {
    font-size: 1rem;
  }

  .hero-info {
    background-color: rgba(255, 255, 255, 0.5);
    top: 30%;
    left: 6%;
    padding: 1em;
    width: 80%;
  }

  .hero-info a {
    font-size: 1rem;
  }

  .hero-info button {
    padding: 1em 2em;
    border-radius: 3em;
  }

  .hero-info button:hover a {
    color: #0027f4;
  }

  .hero-info button:hover {
    background-color: white;
    transition: none;
    border: 1.4px solid #0027f4;
  }

  .testimonial-container {
    justify-content: space-between;
    width: 100%;
  }

  .testimonial-item {
    width: 40%;
  }


  /*Contact*/
  .contact-container {
    flex-direction: column;
    margin-top: 2em;
    gap: .5em;
  }

  .contact-info {
    padding: 1em;
    width: auto;
  }

  .contact-form {
    padding: 2em 1em 1em 1em;
    width: auto;
  }

  .contact-heading h1 {
    font-size: 2rem;
  }

  .contact-heading h3 {
    font-size: 1rem;
  }

  .contact-heading iframe {
    width: 100%;
  }

  .contact-form form label {
    font-size: 1.2rem;
  }

  .contact-form form input,
  .contact-form form textarea {
    width: 90%;
    margin-bottom: 2em;
  }

  .submit-btn {
    padding: 1em 2em;
    border-radius: 3em;
  }

  .submit-btn a {
    font-size: 1rem;
  }


  /*Footer*/
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
  }

  .footer-address {
    padding: 1em;
  }

  .footer-links {
    padding: 1em;
  }

  .footer-socials {
    padding: 1em;
  }

  .footer-address ul li,
  .footer-links ul li a,
  .footer-socials ul li a {
    font-size: 1.2rem;
  }
}